{% extends "base.html" %}

{% block title%}Login{% endblock %}

{% block style %}
<style>

body{
    background: linear-gradient(to right, #0A2647, #144272);
    color: white;
}

form{
    margin: 6rem;
    text-align: center;
}

.form-control{
    text-align: center;
}
</style>

{%endblock%}

{% block content %}

<form method="post">
    <div class="mb-3">
      <label for="exampleInputUsername" class="form-label">Uživatelské jméno</label>
      <input type="username" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp" name="usrnm">
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages%}
          <p>{{msg}}</p>
        {% endfor%}
      {% endif %}
    {% endwith %}
    <button type="submit" class="btn btn-primary">Přihlásit</button>
  </form>

{%endblock%}